@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
}
a{
    color:rgb(0, 0, 0);
    font-size: large;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
body{
    background-color: rgb(129, 3, 3);
    min-width: 320px;
    max-width: 800px;
    margin: auto;
}
header{
    background-image:linear-gradient(to bottom,rgb(255, 255, 255), rgb(253, 255, 244));
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
    text-shadow: 3px 0px white;
}
header > h1{
    color: brown; 
}
nav{
    color: brown;
    background-color: rgb(255, 255, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 5px;
    padding-top: 30px;
    text-align: center;
    box-shadow: 3px 3px gray;
}
nav > a{
    padding: 10px;
    border-radius: 5px;
    transition-duration: 1s;
}
main{
    border-radius: 10px;
    background-color: azure;
    padding: 20px;
    margin-bottom: 10px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}
.subir{
    text-align: right;
    display: block;
}
main h2{
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(238, 230, 120),rgb(238, 230, 120) );
}
main h4{
    color: rgb(235, 234, 234);
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to right, rgb(238, 230, 120),rgb(238, 230, 120) );
}
main > a{
    text-align: right;
}
img{
    margin: auto;
    display: block;
}
ul{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2em;
    list-style: square;
}
form{
    line-height: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    font-weight: bold;
}
h1, h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: brown;
    text-align: center;
}
footer{
    background-color: rgb(238, 230, 120);
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-shadow: 3px 0px white;
    font-weight: bold;
    box-shadow: 3px 3px gray;
}
label{
    vertical-align: top;
}